/*BREAKPOINT BOX MENU*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

}


@media only screen and (min-width: 320px) and (max-width: 719px) {


    header {
        display: flex;
        justify-content: right;
        margin: 0;
        padding: 0;
        
        
    }   

    .navbar {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0px 10px;   
    }

    .navbar .toggle_btn {
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
    }

    

    .dropdown_menu.open {
        position: absolute;
        align-items: center;
        top: 45px;
        right: 0.5rem;
        left: 0.5rem;
        height: 240px;
    }


    /*APRESENTAÇÃO*/

    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
        

    .logo {
        display: flex;
        align-items: center;
        justify-content:center;
        width: 100%;
        margin-top: 50px;
        padding: 0;
        gap: 5px;
        
    }
        
    .logo img {
        height: 70px;   
    }

    .assinatura {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .assinatura img {
        height: 50px;

    }

    .assinatura h2 {
        font-size: 9px;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        width: 100%;
        margin: 0;
        padding: 15px;
        gap: 16px;
        
    }

    .apresentacao img {
        height: 180px;
        filter: drop-shadow(5px 5px 4px #044901);
        border-radius: 60px;
    }
    
    .apresentacao p {
        font-size: 12px;
        text-align: center;       

    }


    /*SOBRE*/

    .sobre-texto h1{
        font-size: 20px;
        font-weight: 400px;
        margin: 50px 0px 10px 20px;
        background-color: ;

    }
    







      
    
        .tecnologias-texto h1{
            font-size: 20px;
            font-weight: 400px;
            margin-top: 100px;   
        }
    
        .tecnologias-card-icones img {
            display: flex;
            height: 70px;
            padding: 10px; 
            
        }
    
        .meus-projetos-texto h1{
            font-size: 20px;
            font-weight: 400px;
            margin-top: 100px; 
            
        }
    
        .meus-contatos-texto h1{
            font-size: 20px;
            font-weight: 400px;
            margin-top: 100px; 
        }
    
        .meus-contatos-card-icones img {
            display: flex;
            height: 70px;
            padding: 10px; 
        }

}


@media only screen and (min-width: 720px) and (max-width: 900px) {


    header {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: rgb(46, 43, 226);
        
    }    
    .navbar {
        gap: 90px;
        padding: 0px 10px; 
        
    }


    .dropdown_menu.open {
        position: absolute;
        top: 80px;
        right: 0.5rem;
        left: 0.5rem;
    }

    .dropdown_menu.open {
        height: 290px;
    }

    .banner {
        display: flex;
    }

    .banner img {
        width: 100%;  
    }
    

    .sobre-mim h1{
        font-size: 20px;
        font-weight: 400px;
        margin-top: 100px;
        text-align: center;
    }

    .sobre-mim-card p {
        font-size: 15px;
        font-weight: 100;
        padding: 5px;
    }

    .sobre-mim-card {
        margin-top: 10px;
        
    }

    .tecnologias-texto h1{
        font-size: 20px;
        font-weight: 400px;
        margin-top: 100px;   
    }

    .tecnologias-card-icones img {
        display: flex;
        height: 70px;
        padding: 10px; 
        
    }

    .meus-projetos-texto h1{
        font-size: 20px;
        font-weight: 400px;
        margin-top: 100px; 
        
    }

    .meus-contatos-texto h1{
        font-size: 20px;
        font-weight: 400px;
        margin-top: 100px; 
    }

    .meus-contatos-card-icones img {
        display: flex;
        height: 70px;
        padding: 10px; 
    }

}
